/*------------------------------------*\
  Elements > Blockquote
\*------------------------------------*/

blockquote {
  font-style: italic;
  padding-left: $base-spacing-unit;
  border-left: 6px solid $color-gray;
}
